<p-panel [toggleable]="true">
  <ng-template pTemplate="header">
    <p class="text-dark-900 dark:text-white text-sm">Propiedades</p>
  </ng-template>

  <section class="flex flex-col gap-2 px-4" formGroupName="props">
    @if(settingService.formFieldSettings().properties.showLabel) {
    <div class="grid grid-cols-2 justify-between items-center">
      <app-label-tooltip
      appId="label"
        label="Label"
        tooltip="Introduce el texto que aparecerá como etiqueta junto a tu campo"
      ></app-label-tooltip>
      <input
        id="label"
        type="text"
        name="label"
        formControlName="label"
        pInputText
      />
    </div>
    } @if(settingService.formFieldSettings().properties.showTooltip) {
    <div class="grid grid-cols-2 justify-between items-center">
      <app-label-tooltip
      appId="tooltip"
        label="Tooltip"
        tooltip="Escribe un mensaje breve de ayuda que se mostrará al pasar el cursor sobre el campo"
      ></app-label-tooltip>
      <input
        id="tooltip"
        type="text"
        name="tooltip"
        formControlName="tooltip"
        pInputText
      />
    </div>
    } @if(settingService.formFieldSettings().properties.showPlaceholder) {
    <div class="grid grid-cols-2 justify-between items-center">
      <app-label-tooltip
      appId="placeholder"
        label="Placeholder"
        tooltip="Especifica el texto que aparecerá como sugerencia dentro del campo"
      ></app-label-tooltip>
      <input
        id="placeholder"
        type="text"
        name="placeholder"
        formControlName="placeholder"
        pInputText
      />
    </div>
    } @if(settingService.formFieldSettings().properties.showDescription) {
    <div class="grid grid-cols-2 justify-between items-center">
      <app-label-tooltip
      appId="description"
        label="Descripción"
        tooltip="Añade una descripción o mensaje de ayuda que se mostrará debajo del campo (maximo 450 carácteres)"
      ></app-label-tooltip>
      <textarea
        id="description"
        type="text"
        name="description"
        formControlName="description"
        pInputTextarea
        [autoResize]="true"
        [maxlength]="750"
        [rows]="1"
        (input)="adjustTextareaHeight()"
        #description
      ></textarea>
    </div>
    }
  </section>
</p-panel>
