<section
  class="relative border h-auto w-full rounded flex flex-col items-start gap-2"
  [ngClass]="{
    'grid grid-cols-2 gap-2': field.type === 'grid'
  }"
  [nxtSortablejs]="field.fieldGroup"
  [config]="sortableConfig"
  appDropZone
  [fieldGroup]="field.fieldGroup"
>
  @if(field.fieldGroup?.length) {
  <article *ngFor="let _field of field.fieldGroup" class="w-full">
    @if(!_field.fieldGroup) {

    <app-form-field-group-item [field]="_field" [fieldGroup]="field.fieldGroup"></app-form-field-group-item>
    } @else {
    <app-form-field-group [field]="_field"></app-form-field-group>
    }
  </article>
  }
</section>
