<div
  class="relative px-4 pl-6 py-2 group border border-transparent hover:border-indigo-500/50 animate__animated"
  (click)="openMenuForSelectedField($event)"
  (mouseenter)="$event.stopPropagation();"
  [ngClass]="{
    'active-field': formBuilderTypesService.selectedField()?.id === field().id,
    animate__bounce: removeElement
  }"
  appClickOutside
  [ignoreElement]="['.settings']"
  role="button"
  tabindex="0"
>
  @if(formBuilderTypesService.selectedField()?.id === field().id) {
  <app-menu [field]="field()" [fieldGroup]="fieldGroup()"></app-menu>
  }

  <app-drag-icon class="handle drag-icon"></app-drag-icon>
  <formly-form [fields]="[field()]"></formly-form>
</div>
