<app-form-panel-search [(search)]="search"></app-form-panel-search>

<section
  class="flex flex-col gap-4 px-4 pb-4 overflow-y-auto overflow-x-hidden max-h-[calc(100%-116px)] animate__animated animate__fadeInUpBig animate__faster"
>
  @for(sectionList of formFieldList() | searchComponent:search(); track
  sectionList.title) {
  <p-panel [toggleable]="true">
    <ng-template pTemplate="header">
      <p class="text-dark-900 dark:text-white text-sm">
        {{ sectionList.title }}
      </p>
    </ng-template>
    <article
      class="flex flex-col gap-3"
      [nxtSortablejs]="sectionList | flattenFields"
      [config]="sortableConfig"
    >
      @for(item of sectionList.items; track item.label) {
      <app-form-panel-item [item]="item"></app-form-panel-item>
      }
    </article>
  </p-panel>
  }
</section>
