<p-panel [toggleable]="true">
  <ng-template pTemplate="header">
    <p class="text-dark-900 dark:text-white text-sm">Validaciones</p>
  </ng-template>
  <section class="flex flex-col gap-2 px-4" formGroupName="props">
    @if(settingService.formFieldSettings().validations.showRequired) {
    <div class="flex justify-between items-center">
      <app-label-tooltip
        appId="required"
        label="Obligatorio"
        tooltip="Define si este campo debe completarse obligatoriamente"
      ></app-label-tooltip>
      <p-inputSwitch id="required" name="required" formControlName="required" />
    </div>
    } @if(settingService.formFieldSettings().validations.showReadonly) {
    <div class="flex justify-between items-center">
      <app-label-tooltip
        appId="readonly"
        label="Solo lectura"
        tooltip="Habilita el modo de solo lectura si el campo no es obligatorio y no está deshabilitado"
      ></app-label-tooltip>
      <p-inputSwitch id="readonly" name="readonly" formControlName="readonly" />
    </div>
    } @if(settingService.formFieldSettings().validations.showDisabled) {
    <div class="flex justify-between items-center">
      <app-label-tooltip
        appId="disabled"
        label="Deshabilitado"
        tooltip="Desactiva el campo si no es obligatorio o está en modo de solo lectura"
      ></app-label-tooltip>
      <p-inputSwitch id="disabled" name="disabled" formControlName="disabled" />
    </div>
    } @if(settingService.formFieldSettings().validations.showMin) {

    <div class="grid grid-cols-2 gap-2 justify-between items-center">
      <app-label-tooltip
        appId="min"
        label="Mínimo"
        tooltip="Especifica el valor mínimo permitido para este campo"
      ></app-label-tooltip>
      <input id="min" type="number" formControlName="min" pInputText />
    </div>
    } @if(settingService.formFieldSettings().validations.showMax) {
    <div class="grid grid-cols-2 gap-2 justify-between items-center">
      <app-label-tooltip
        appId="max"
        label="Máximo"
        tooltip="Establece el valor máximo permitido para este campo"
      ></app-label-tooltip>
      <input id="max" type="number" formControlName="max" pInputText />
    </div>
    } @if(settingService.formFieldSettings().validations.showStarCount) {
    <div class="grid grid-cols-2 gap-2 justify-between items-center">
      <app-label-tooltip
        appId="stars"
        label="Cantidad de estrellas"
        tooltip="Establece la cantidad de estrellas/numero maximo del rating (min: 2, max: 100)"
      ></app-label-tooltip>
      <input
        id="stars"
        name="stars"
        type="number"
        min="2"
        max="100"
        formControlName="stars"
        pInputText
      />
    </div>
    } @if(settingService.formFieldSettings().validations.showMinDate) {

    <div class="grid grid-cols-2 gap-2 justify-between items-center">
      <app-label-tooltip
        appId="minDate"
        label="Start Date"
        tooltip="Especifica el valor mínimo permitido para este campo"
      ></app-label-tooltip>
      <p-calendar
        inputId="minDate"
        name="minDate"
        [maxDate]="settingService.dateValidation().maxDate"
        formControlName="minDate"
      />
    </div>
    } @if(settingService.formFieldSettings().validations.showMaxDate) {

    <div class="grid grid-cols-2 gap-2 justify-between items-center">
      <app-label-tooltip
        appId="maxDate"
        label="End Date"
        tooltip="Especifica el valor mínimo permitido para este campo"
      ></app-label-tooltip>
      <p-calendar
        inputId="maxDate"
        name="maxDate"
        [minDate]="settingService.dateValidation().minDate"
        formControlName="maxDate"
      />
    </div>
    } @if(settingService.formFieldSettings().validations.showMinLength) {
    <div class="grid grid-cols-2 gap-2 justify-between items-center">
      <app-label-tooltip
        appId="minLength"
        label="Longitud mínima"
        tooltip="Define la cantidad mínima de caracteres permitidos en este campo"
      ></app-label-tooltip>
      <input
        id="minLength"
        type="number"
        [min]="0"
        formControlName="minLength"
        pInputText
      />
    </div>
    } @if(settingService.formFieldSettings().validations.showMaxLength) {
    <div class="grid grid-cols-2 gap-2 justify-between items-center">
      <app-label-tooltip
        appId="maxLength"
        label="Longitud máxima"
        tooltip="Define la cantidad máxima de caracteres permitidos en este campo"
      ></app-label-tooltip>
      <input
        id="maxLength"
        type="number"
        formControlName="maxLength"
        pInputText
      />
    </div>
    } @if(settingService.formFieldSettings().validations.showExactLength) {
    <div class="grid grid-cols-2 gap-2 justify-between items-center">
      <app-label-tooltip
        appId="exactLength"
        label="Longitud exacta"
        tooltip="Especifica la cantidad exacta de caracteres requerida para este campo"
      ></app-label-tooltip>
      <input
        id="exactLength"
        type="number"
        min="0"
        formControlName="exactLength"
        pInputText
      />
    </div>
    } @if(settingService.formFieldSettings().validations.showPattern) {
    <div class="grid grid-cols-2 gap-2 justify-between items-center">
      <app-label-tooltip
        appId="pattern"
        label="Expresión regular"
        tooltip="Introduce una expresión regular para definir un patrón específico de entrada para este campo"
      ></app-label-tooltip>
      <input
        id="pattern"
        type="text"
        name="pattern"
        formControlName="pattern"
        pInputText
      />
    </div>
    }
  </section>
</p-panel>
