<header class="p-4">
  <h3 class="text-xl mb-4 font-bold text-dark-900 dark:text-white">
    Form components
  </h3>
  <div class="bg-gray-100 dark:bg-dark-500 w-full min-h-[40px] relative rounded">
    <ng-icon
      name="heroMagnifyingGlass"
      class="absolute top-[50%] translate-y-[-50%] left-2 h-[16px] w-[16px] text-indigo-600"
    ></ng-icon>
    <input
      type="search"
      placeholder="search a component"
      name=""
      id=""
      class="w-full h-[40px] rounded bg-transparent outline-none dark:text-white pl-8"
      [(ngModel)]="search"
    />
  </div>
</header>

