<main class="bg-white dark:bg-black">
  <header class="bg-white dark:bg-dark-900 h-[40px] px-4 border-b border-gray-100 dark:border-dark-400">
    <nav class="flex justify-between items-center h-[40px]">
      <section>
        <h2 class="m-0">Titulo</h2>
      </section>
      <section class="flex gap-4">
        <p-inputSwitch (onChange)="toggleDarkMode()"/>
        <img
          src="https://assets.codepen.io/1256482/internal/avatars/users/default.png?fit=crop&format=auto&height=256&version=1701960382&width=256"
          alt=""
          class="h-[28px] w-[28px] rounded-full object-cover"
        />
      </section>
    </nav>
  </header>
  <router-outlet></router-outlet>
</main>
