<aside
  class="relative z-20 bg-white dark:bg-dark-900 w-[48px] h-full flex flex-col items-center border-r border-gray-100 dark:border-dark-700"
>
  <ul class="flex flex-col w-full">
    @for(item of menu; track item.icon) {
    <li
      class="w-full flex items-center justify-center cursor-pointer"
      [ngClass]="{
        'bg-gray-200 text-dark-900 dark:bg-dark-700 dark:text-white':
          activeTabIndex === item.activeTabIndex
      }"
    >
      <button class="p-2 py-3 w-full h-full" (click)="item.handle()">
        <ng-icon
          [name]="item.icon"
          class="text-lg text-dark-900 dark:text-white w-5 h-5"
        ></ng-icon>
      </button>
    </li>
    }
  </ul>
</aside>
