<p-panel [toggleable]="true">
  <ng-template pTemplate="header">
    <p class="text-dark-900 dark:text-white text-sm">Data</p>
  </ng-template>

  <section class="flex flex-col gap-4 px-4">
    @if(settingService.formFieldSettings().data.showDefaultValue) {
    <div class="grid grid-cols-2 gap-2 items-center">
      <app-label-tooltip
        appId="readonly"
        label="Default data"
        tooltip="Habilita el modo de solo lectura si el campo no es obligatorio y no está deshabilitado"
        class="font-bold"
      ></app-label-tooltip>
      <app-default-field
        [field]="settingService.defaultSelectedField()"
        (fieldChange)="settingService.defaultSelectedField.set($event)"
        formControlName="defaultValue"
      ></app-default-field>
    </div>
    } @if(settingService.formFieldSettings().data.showOptions) {
    <div formGroupName="props">
      <app-input-options formControlName="options"></app-input-options>
    </div>
    }
  </section>
</p-panel>
