<p-panel [toggleable]="true">
  <ng-template pTemplate="header">
    <p class="text-dark-900 dark:text-white text-sm">Layout</p>
  </ng-template>

  <section class="flex flex-col gap-2 px-4">
    <div class="flex justify-between items-center">
      <app-label-tooltip
        id="headingType"
        label="heading Type"
        tooltip="heading Type"
      ></app-label-tooltip>
      <app-select-button
        id="headingType"
        name="headingType"
        [options]="headingLevelOptions"
        [(ngModel)]="props.headingType"
      ></app-select-button>
    </div>

    <div class="flex justify-between items-center">
      <app-label-tooltip
        id="alignText"
        label="Align types"
        tooltip="Alineación del texto"
      ></app-label-tooltip>

      <app-select-button
        id="alignText"
        name="alignText"
        [options]="textAlignmentOptions"
        [(ngModel)]="props.align"
      ></app-select-button>
    </div>

    <div class="flex justify-between items-center">
      <app-label-tooltip
        id="severity"
        label="Severity types"
        tooltip="Tipo de alerta"
      ></app-label-tooltip>
      <app-select-button
        id="severity"
        name="severity"
        [options]="severityOptions"
        [(ngModel)]="props.severity"
      ></app-select-button>
    </div>

    <div class="flex justify-between items-center">
      <app-label-tooltip
        id="headingType"
        label="Font styles"
        tooltip="Agrega cisas"
      ></app-label-tooltip>
      <app-select-button
        id="textStyles"
        name="textStyles"
        [options]="textFormattingOptions"
        [disabledOptions]="disabledOptions"
        [multiple]="true"
        [(ngModel)]="appliedTextStyles"
        (ngModelChange)="enabledTextStyles()"
      ></app-select-button>
    </div>
  </section>
</p-panel>
