@if(visibilityConfig().showMultiOptions) {
  <p-multiSelect
  [options]="field().props.options | formlyOptions"
  optionLabel="label"
  optionValue="value"
  appendTo="body"
  placeholder="Select an options"
  [filter]="true" 
  [(ngModel)]="modelDefaultValue().defaultValue"
  (ngModelChange)="changeDefaultValue()"
  (onBlur)="onTouched()"
/>
} @else if(visibilityConfig().showOptions) {
  <p-dropdown
  [options]="field().props.options | formlyOptions"
  [(ngModel)]="modelDefaultValue().defaultValue"
  appendTo="body"
  class="block w-full"
  optionLabel="label"
  optionValue="value"
  placeholder="Select an option"
  (ngModelChange)="changeDefaultValue()"
  (onBlur)="onTouched()"
></p-dropdown>

} @else {
  <formly-form
  [fields]="[field()]"
  [model]="modelDefaultValue()"
  (modelChange)="changeDefaultValue()"
></formly-form>
}