.p-message {
  margin: 0;
  border-radius: 4px;
  border: 0;
}
.p-message .p-message-wrapper {
  padding: 0.5rem 0.75rem;
  font-size: 14px;
}

.p-message .p-message-detail {
  width: 100%;
  margin-left: 0;
  word-break: break-all;
}

.p-message .p-icon {
  width: 1rem;
  height: 1rem;
}

.p-tabview .p-tabview-panels {
  padding: 0;
  padding-top: 20px;
}

.p-tabview .p-tabview-nav {
  li {
    width: 100%;
  }

  &,
  & .p-tabview-nav-link {
    background-color: transparent;
  }

  .p-tabview-nav-link {
    background-color: transparent;
    padding: 0.75rem;
    justify-content: center;
  }
}

.p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link {
  color: theme("colors.indigo.600");
  border-color: theme("colors.indigo.600");
}

.p-tabview .p-tabview-panels {
  background-color: transparent;
}

.p-overlaypanel .p-overlaypanel-content {
  padding: 0;
}

.p-overlaypanel.p-overlaypanel-flipped:after,
.p-overlaypanel.p-overlaypanel-flipped:before,
.p-overlaypanel:before {
  display: none;
}

.p-overlaypanel {
  background: #ffffff;
  color: #4b5563;
  border: 0 none;
  border-radius: 0;
  box-shadow: none;
  border: none;
  margin: 0;
  min-width: 11rem;
  max-height: 40vh;
  overflow: auto;
  overflow-x: auto;
  max-width: 40vw;
}

.p-panel.p-panel-toggleable .p-panel-header {
  padding: 0;
  background: transparent;
  border: none;
  border-radius: 0;
}

.p-panel .p-panel-content {
  padding: 0;
  border: none;
  background-color: transparent;
  padding-top: 16px;
}

.p-panel .p-panel-header .p-panel-header-icon {
  background-color: transparent;
  width: 16px;
  height: 16px;
  border-radius: 0;
}

.p-panel .p-panel-header .p-panel-header-icon:enabled:hover {
  background-color: transparent;
}

.p-selectbutton {
  border-radius: 4px;
  overflow: hidden;
}

.p-selectbutton .p-button {
  padding: 0.5rem 0.75rem;
  font-size: 14px;
  border-color: #efefef;
  border-radius: 0;

  &:focus {
    box-shadow: none;
  }
}

.p-selectbutton .p-button.p-highlight {
  background-color: theme("colors.indigo.600");
  border-color: theme("colors.indigo.600");
  color: #fff;
}

.p-dropdown {
  width: 100%;
}

.p-dropdown .p-inputtext {
  border: none;
}

.p-dropdown .p-focus > .p-inputtext,
.p-dropdown.p-inputtext:enabled:focus {
  box-shadow: none;
}

.p-dropdown:not(.p-disabled).p-focus {
  box-shadow: none;
}

.p-dropdown-panel .p-dropdown-items .p-dropdown-item {
  font-size: 14px;
}

.p-multiselect {
  width: 100%;
}

.p-multiselect .p-multiselect-label {
  padding: 0.5rem;
  font-size: 14px;
}

.p-multiselect-panel .p-multiselect-items .p-multiselect-item, .p-multiselect-panel .p-multiselect-items .p-multiselect-empty-message {
  margin: 0;
  padding: 0.5rem;
  font-size: 14px;
}
.p-multiselect-panel .p-multiselect-header {
  padding: 0.5rem;
  border-radius: 0;
}

.p-multiselect-panel {
  border-radius: 4px;
}

.p-multiselect-panel .p-multiselect-items {
  padding: 0;
}

p-inputnumber,
.p-inputnumber,
.p-inputtext,
.p-password,
.p-calendar {
  width: 100%;
}

.p-inputtext {
  font-size: theme("fontSize.sm");
  background: transparent;
  padding: 0.5rem;
  border: 1px solid #d1d5db;
  border-radius: 4px;
}

.p-input-icon-right > .p-inputtext {
  padding-right: 2.5rem ;
}

.p-dropdown:not(.p-disabled):hover,
.p-dropdown:not(.p-disabled):focus,
.p-inputtext:enabled:focus,
.p-inputtext:enabled:hover {
  border-color: theme("colors.indigo.500");
}

*.p-focus > .p-inputtext,
.p-inputtext:enabled:focus {
  box-shadow: none;
}

.p-inputtext.ng-dirty.ng-invalid {
  border-color: red;
}

:root {
  --inputswitch-width: 2.5rem;
}

.p-checkbox-label {
  font-size: theme("fontSize.sm");
}

.p-inputswitch {
  width: 2.5rem;
  height: 1.3rem;
}

.p-inputswitch .p-inputswitch-slider:before {
  width: 0.8rem;
  height: 0.8rem;
  margin-top: 0;
  left: 0;
  position: absolute;
  top: 50%;
  transform: translate(0.25rem, -50%);
}

.p-inputswitch.p-inputswitch-checked .p-inputswitch-slider {
  background-color: theme("colors.indigo.500");
}

.p-button {
  width: max-content;
  border-radius: 4px;
}

.p-button-label {
  font-weight: 500;
}
.p-button.p-button-sm {
  font-size: theme("fontSize.sm");
  padding: 0.3rem 0.5rem;
}

.p-tooltip {
  display: block !important;
  font-size: theme("fontSize.sm");
}

.p-inputswitch.p-inputswitch-checked .p-inputswitch-slider:before {
  transform: translate(
    calc(var(--inputswitch-width) - 1.05rem),
    -50%
  ) !important;
}

.p-inputswitch.p-focus .p-inputswitch-slider {
  box-shadow: none;
}

.p-datepicker {
  padding: 0;
  border-radius: 4px;
}

.p-datepicker .p-datepicker-header .p-datepicker-title .p-datepicker-month, .p-datepicker .p-datepicker-header .p-datepicker-title .p-datepicker-year {
  font-size: theme("fontSize.sm");
  padding: 0;
}

.p-datepicker table td {
  padding: 0.25rem;
}

.p-datepicker table th {
  padding: 0.25rem;
  font-size: theme("fontSize.sm");
}

.p-datepicker table td > span {
  width: 2rem;
  height: 2rem;
  font-size: theme("fontSize.sm");
}

body.light {
  .p-panel .p-panel-header .p-panel-header-icon {
    color: theme("colors.dark.900");
  }

  .p-inputswitch .p-inputswitch-slider {
    background-color: theme("colors.gray.200");
  }

  .p-inputswitch.p-inputswitch-checked .p-inputswitch-slider {
    background-color: theme("colors.indigo.500");
  }
}

body.dark {
  .p-panel .p-panel-header .p-panel-header-icon {
    color: theme("colors.white");
  }
}

.dropZone::before {
  content: "Drag a element here";
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 160px;
  font-weight: 700;
  font-size: 14px;
  background-image: url(/assets/icons/drop.png);
  background-size: 32px;
  background-position: center 48px;
  background-repeat: no-repeat;
  padding-top: 32px;
  border-color: transparent;
  background-color: theme("colors.indigo.500/0.1") !important;
  border: 1px dotted theme("colors.indigo.500");
  border-radius: 4px;
}

.dropZone.active::before {
  background-color: theme("colors.indigo.500/0.2") !important;
}

.required::after {
  content: "*";
  color: red;
}
