<p-panel [toggleable]="true">
  <ng-template pTemplate="header">
    <p class="text-dark-900 dark:text-white text-sm">Validaciones</p>
  </ng-template>
  <section class="flex flex-col gap-2 px-4" formGroupName="props">
    @if(settingService.formFieldSettings().validations.showRequired) {
    <div class="flex justify-between items-center">
      <app-label-tooltip
        id="required"
        label="Obligatorio"
        tooltip="Define si este campo debe completarse obligatoriamente"
      ></app-label-tooltip>
      <p-inputSwitch
        id="required"
        name="required"
        formControlName="required"
      />
    </div>
    } @if(settingService.formFieldSettings().validations.showReadonly) {
    <div class="flex justify-between items-center">
      <app-label-tooltip
        id="readonly"
        label="Solo lectura"
        tooltip="Habilita el modo de solo lectura si el campo no es obligatorio y no está deshabilitado"
      ></app-label-tooltip>
      <p-inputSwitch
        id="readonly"
        name="readonly"
        formControlName="readonly"
      />
    </div>
    } @if(settingService.formFieldSettings().validations.showDisabled) {
    <div class="flex justify-between items-center">
      <app-label-tooltip
        id="disabled"
        label="Deshabilitado"
        tooltip="Desactiva el campo si no es obligatorio o está en modo de solo lectura"
      ></app-label-tooltip>
      <p-inputSwitch
        id="disabled"
        name="disabled"
        formControlName="disabled"
      />
    </div>
    }

    <div class="grid grid-cols-2 justify-between items-center">
      <app-label-tooltip
        id="min"
        label="Mínimo"
        tooltip="Especifica el valor mínimo permitido para este campo"
      ></app-label-tooltip>
      <p-calendar
        name="minDate"
        [maxDate]="settingService.form.get('maxDate')?.value"
        appendTo="body"
        formControlName="minDate"
      />
    </div>


    <div class="grid grid-cols-2 justify-between items-center">
      <app-label-tooltip
        id="min"
        label="Max"
        tooltip="Especifica el valor mínimo permitido para este campo"
      ></app-label-tooltip>
      <p-calendar
        name="maxDate"
        [minDate]="settingService.form.get('minDate')?.value"
        appendTo="body"
        formControlName="maxDate"
      />
    </div>

    @if(settingService.formFieldSettings().validations.showMin) {

    <div class="grid grid-cols-2 justify-between items-center">
      <app-label-tooltip
        id="min"
        label="Mínimo"
        tooltip="Especifica el valor mínimo permitido para este campo"
      ></app-label-tooltip>
      <input
        id="min"
        type="number"
        formControlName="min"
        pInputText
      />
    </div>
    } @if(settingService.formFieldSettings().validations.showMax) {
    <div class="grid grid-cols-2 justify-between items-center">
      <app-label-tooltip
        id="max"
        label="Máximo"
        tooltip="Establece el valor máximo permitido para este campo"
      ></app-label-tooltip>
      <input
        id="max"
        type="number"
        formControlName="max"
        pInputText
      />
    </div>
    } @if(settingService.formFieldSettings().validations.showMinLength) {
    <div class="grid grid-cols-2 justify-between items-center">
      <app-label-tooltip
        id="minLength"
        label="Longitud mínima"
        tooltip="Define la cantidad mínima de caracteres permitidos en este campo"
      ></app-label-tooltip>
      <input
        id="minLength"
        type="number"
        [min]="0"
        formControlName="minLength"
        pInputText
      />
    </div>
    } @if(settingService.formFieldSettings().validations.showMaxLength) {
    <div class="grid grid-cols-2 justify-between items-center">
      <app-label-tooltip
        id="maxLength"
        label="Longitud máxima"
        tooltip="Define la cantidad máxima de caracteres permitidos en este campo"
      ></app-label-tooltip>
      <input
        id="maxLength"
        type="number"
        formControlName="maxLength"
        pInputText
      />
    </div>
    } @if(settingService.formFieldSettings().validations.showExactLength) {
    <div class="grid grid-cols-2 justify-between items-center">
      <app-label-tooltip
        id="exactLength"
        label="Longitud exacta"
        tooltip="Especifica la cantidad exacta de caracteres requerida para este campo"
      ></app-label-tooltip>
      <input
        id="exactLength"
        type="number"
        min="0"
        formControlName="exactLength"
        pInputText
      />
    </div>
    } @if(settingService.formFieldSettings().validations.showPattern) {
    <div class="grid grid-cols-2 justify-between items-center">
      <app-label-tooltip
        id="pattern"
        label="Expresión regular"
        tooltip="Introduce una expresión regular para definir un patrón específico de entrada para este campo"
      ></app-label-tooltip>
      <input
        id="pattern"
        type="text"
        name="pattern"
        formControlName="pattern"
        pInputText
      />
    </div>
    }
  </section>
</p-panel>
