<main
  [nxtSortablejs]="formBuilderTypesService.fields().fieldGroup"
  [config]="sortableConfig"
  sortablejsContainer
  appDropZone
  [childrenCount]="formBuilderTypesService.fields().fieldGroup?.length ?? 0"
>
  @for(field of formBuilderTypesService.fields().fieldGroup; track field.id) {
  <section class="w-full mb-2">
    @if(field.fieldGroup) {
    <app-form-field-group
      [field]="field"
      [fieldGroup]="formBuilderTypesService.fields().fieldGroup"
    ></app-form-field-group>
    } @else {
    <app-form-field-group-item
      [field]="field"
      [fieldGroup]="formBuilderTypesService.fields().fieldGroup"
    ></app-form-field-group-item>
    }
  </section>
  }
</main>
