@import 'assets/theme.scss';
@layer tailwind-base, primeng, tailwind-utilities;

@layer tailwind-base {
  @tailwind base;
}

@layer tailwind-utilities {
  @tailwind components;
  @tailwind utilities;
}

::view-transition-old(root) {
  animation-duration: 1s;
  animation-name: shrink-right; /* Cambié el nombre para mayor claridad */
  mix-blend-mode: normal;
}

::view-transition-new(root) {
  animation: none;
  mix-blend-mode: normal;
}

.dark::view-transition-old(root) {
  animation: none;
  mix-blend-mode: normal;
}

.dark::view-transition-new(root) {
  animation-duration: 1s;
  animation-name: expand-left; /* Cambié el nombre para mayor claridad */
  mix-blend-mode: normal;
}

/* Animación expand-left: Comienza desde el lado izquierdo y se expande hacia la derecha */
@keyframes expand-left {
  from {
    clip-path: inset(0 100% 0 0); /* Comienza cubriendo toda la pantalla a la derecha */
  }
  to {
    clip-path: inset(0 0 0 0); /* Expande hasta cubrir todo el ancho */
  }
}

/* Animación shrink-right: Se contrae hacia el lado derecho */
@keyframes shrink-right {
  from {
    z-index: 1000;
    clip-path: inset(0 0 0 0); /* Comienza cubriendo todo el ancho */
  }
  to {
    z-index: 1000;
    clip-path: inset(0 0 0 100%); /* Se contrae hacia el lado derecho */
  }
}
