<p-panel [toggleable]="true">
  <ng-template pTemplate="header">
    <p class="text-dark-900 dark:text-white text-sm">Propiedades</p>
  </ng-template>

  <section class="flex flex-col gap-2 px-4">
    <div class="grid grid-cols-2 justify-between items-center">
      <app-label-tooltip
        id="label"
        label="Label"
        tooltip="Introduce el texto que aparecerá como etiqueta junto a tu campo"
      ></app-label-tooltip>
      <input
        id="label"
        type="text"
        name="label"
        [(ngModel)]="props.label"
        pInputText
      />
    </div>

    <div class="grid grid-cols-2 justify-between items-center">
      <app-label-tooltip
        id="tooltip"
        label="Tooltip"
        tooltip="Escribe un mensaje breve de ayuda que se mostrará al pasar el cursor sobre el campo"
      ></app-label-tooltip>
      <input
        id="tooltip"
        type="text"
        name="tooltip"
        [(ngModel)]="props.tooltip"
        pInputText
      />
    </div>

    <hr />

    <div class="grid grid-cols-2 justify-between items-center">
      <app-label-tooltip
        id="placeholder"
        label="Placeholder"
        tooltip="Especifica el texto que aparecerá como sugerencia dentro del campo"
      ></app-label-tooltip>
      <input
        id="placeholder"
        type="text"
        name="placeholder"
        [(ngModel)]="props.placeholder"
        pInputText
      />
    </div>

    <div class="grid grid-cols-2 justify-between items-center">
      <app-label-tooltip
        id="description"
        label="Descripción"
        tooltip="Añade una descripción o mensaje de ayuda que se mostrará debajo del campo (maximo 450 carácteres)"
      ></app-label-tooltip>
      <textarea
        id="description"
        type="text"
        name="description"
        [(ngModel)]="props.description"
        pInputTextarea
        [autoResize]="true"
        [maxlength]="450"
        rows="1"
      ></textarea>
    </div>
  </section>
</p-panel>
