:host ::ng-deep {
    .p-panel .p-panel-header {
        background-color: #fafbfc;
        padding: 1rem;
    }

    .p-inputtext {
        overflow-y: auto !important;
        max-height: 12rem;
    }
}