<main
  class="grid grid-cols-[auto,1fr,auto] h-[calc(100vh-40px)]"
>
  <aside class="min-w-fit bg-white dark:bg-dark-900 overflow-y-hidden">
    <app-form-panel></app-form-panel>
  </aside>
  <section class="bg-gray-200 dark:bg-dark-700 h-full py-10 overflow-y-auto">
    <article class="w-1/2 mx-auto block">
      <app-form-field-canvas class="block h-auto w-full bg-white dark:bg-dark-900 rounded-lg shadow-md p-4 overflow-visible"></app-form-field-canvas>
    </article>
  </section>
  <aside class="bg-white dark:bg-dark-900 h-full w-[320px] px-6 py-8">
    <app-form-field-settings></app-form-field-settings>
  </aside>
</main>
