<main
  class="grid grid-cols-[auto,1fr,auto] h-[calc(100vh-40px)] overflow-hidden"
>
  <app-form-panel
    class="bg-white dark:bg-dark-900 transition-all duration-500 overflow-y-hidden"
    [class.w-[360px]]="showFormPanelList()"
    [class.w-0]="!showFormPanelList()"
    [activeTabIndex]="activeTabIndex()"
  ></app-form-panel>

  <section
    class="relative bg-gray-200 dark:bg-dark-700 h-full py-10 overflow-y-auto"
  >
    <app-form-panel-menu
      [(showFormPanelList)]="showFormPanelList"
      [(activeTabIndex)]="activeTabIndex"
    ></app-form-panel-menu>
    <article class="w-1/2 mx-auto block">
      <app-form-field-canvas
        class="block h-auto w-full bg-white dark:bg-dark-900 rounded-lg shadow-md p-4 overflow-visible"
      ></app-form-field-canvas>
    </article>
    <app-history-buttons></app-history-buttons>
  </section>
  <aside
    class="settings bg-white pb-8 dark:bg-dark-900 h-full transition-all duration-500 overflow-y-auto"
    [class.w-[360px]]="formBuilderTypesService.selectedField()"
    [class.w-0]="!formBuilderTypesService.selectedField()"
  >
    <app-form-field-settings
      *ngIf="formBuilderTypesService.selectedField()"
    ></app-form-field-settings>
  </aside>
</main>
