<fieldset class="flex flex-col gap-2">
  <app-label-tooltip
    [id]="field.id"
    [label]="props.label"
    [tooltip]="props['tooltip']"
    [required]="props.required"
    *ngIf="props.label"
  ></app-label-tooltip>
  <input
    id="{{ field.id }}"
    type="text"
    pInputText
    [formControl]="formControl"
    [formlyAttributes]="field"
    [placeholder]="props.placeholder"
    [readonly]="props.readonly"
    [minLength]="props.minLength"
    [maxlength]="props.maxLength!"
    [pattern]="props.pattern!"
  />
</fieldset>
<app-field-description
  [description]="props.description" *ngIf="props.description"
></app-field-description>
